@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
    height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 3px;
  }  
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #4b4a4a;
  }